<script setup>
</script>

<template>
  <div class="chip-box">
      <slot></slot>
  </div>
</template>

<style>
.chip-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.chip-box .chip-pair {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>