<script setup>
defineProps({
  value: {
    type: String,
    required: true
  },
})
</script>

<template>
    <div class="chip">
        <span><slot></slot> <b>{{ value }}</b></span>
    </div>
</template>

<style scoped>
  .chip {
    background-color: red;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 0 0 1em 0;
  }
  .chip-box.big .chip {
    font-size: 2em;
    grid-row: span 2;
  }
  b {
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
  }
</style>