<script setup>
import { inject, computed } from 'vue';

const props = defineProps({
  group: {
    type: String,
    required: true
  },
})

const globals = inject("globals")
const group_members = computed(() => {
  if(globals.data_dump == undefined){
    return []
  }
  return globals.data_dump.components[props.group]
})
</script>

<template>
  <ul>
    <li v-for="(member, name) in group_members">{{ name }}</li>
  </ul>
</template>