<script setup>
import { inject, computed } from 'vue';
import ComponentGroup from './ComponentGroup.vue'

const globals = inject("globals")
const components = computed(() => {
  console.log("calculated components", globals.data_dump)
  if(globals.data_dump == undefined){
    return []
  }
  return globals.data_dump.components
})
</script>

<template>
  <ul uk-accordion>
    <li v-for="(group_members, group) in components">
      <a class="uk-accordion-title">{{ group }}</a>
      <div class="uk-accordion-content">
        <ComponentGroup :group="group" />
      </div>
    </li>
  </ul>
</template>