<script setup>
import { reactive, ref, computed } from 'vue';

let serial = 1; // #TODO
let serial_total = 1;

const props = defineProps({
  'group': String,
  'type': String,
  'volume': Number,
  'armour': Boolean
})
defineEmits(['volume', 'update:volume', 'update:armour'])
</script>

<template>
  <div class="ship-component">
    <div class="toprow">
      <h4>{{ group }} &rarr; {{ type }}</h4>
      <div v-if="serial_total > 1" class="component-serial">[{{ serial }}/{{ serial_total }}]</div>
      <button onclick="foo()" uk-icon="cog"></button>
      <button onclick="bar()" uk-icon="trash"></button>
    </div>
    <div>
      volume: <span class="mono-number">{{ volume }}</span>
      <button @click="$emit('update:volume', ++volume)" uk-icon="plus"></button>
      <button @click="$emit('update:volume', --volume)" uk-icon="minus"></button>
    </div>
    <button @click="$emit('update:armour', armour = !armour)" class="uk-button uk-button-small"
      :class="armour ? 'uk-button-danger' : 'uk-button-primary'"><span
        :uk-icon="armour ? 'check' : 'close'"></span>armour</button>
  </div>
</template>

<style scoped>
.ship-component {
  background-color: var(--color-background-mute);
  padding: 5px;
  padding-left: 10px;
  border-radius: 0 2em 0 0;
  border-left: 5px solid var(--color-text);
}

.ship-component .toprow {
  display: flex;
  padding-right: 1em;
  gap: 10px;
}

.ship-component .toprow h4 {
  flex-grow: 1;
  margin: 0
}

.ship-component.component-multiple .component-serial {
  display: block
}
</style>