<script setup>
import { reactive, ref, computed, inject, onMounted } from 'vue';
import ShipComponent from './ShipComponent.vue';

const component_refs = ref([])
const component_list = reactive([])

const globals = inject("globals")

function loadShip(ship_data){
  console.log("loadShip", ship_data)
  component_list.length = 0
  component_list.push(...ship_data.components)
}

const component_volume = computed(() => {
  let sum = 0;
  for(let c of component_list){
    sum += c.volume
  }
  return sum;
})

defineExpose({loadShip, component_volume})
</script>

<template>
  <div v-if="component_list.length == 0" class="no-components-warning">
    <span uk-icon="warning"></span> No components &mdash; add some on the right, or load a template
  </div>
  <div id="component-box">
    <ShipComponent v-for="c in component_list" ref="component_refs" 
      :group="c.group"
      :type="c.type"
      v-model:volume="c.volume"
      v-model:armour="c.armour"
    />
  </div>
  <b>{{ component_list }}</b>
</template>

<style>
#component-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.no-components-warning {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #component-box {
    grid-template-columns: 1fr;
  }
}
</style>