@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
}

header {
  background: red;
  padding: 0 10px;
  text-align: center;
  border-bottom: 10px solid darkred;
  margin-bottom: 1em;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  column-gap: 1em;

  &>section {
    grid-column: 2;
    gap: 10px; /* for flex and grid */
  }

  &>aside {
    grid-column: 3;
    background-color: #333;
    color: #fff;
    border-top-left-radius: 2em;
    border-right: 5px solid darkred;
    padding: 10px;
  }
}

h1 {
  font-family: "Roboto Slab", Roboto, sans-serif;
  font-weight: 800;
}

#ship-overview-1 {
  font-size: 2em;
}

.section-add-button {
  float: right;
}

h1,
h2,
h3 {
  margin: 0;
}

.mono-number {
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 1200px) {
  main {
    display: block;
    margin: 0 2em;
  }
}