<script setup>
import { ref, provide } from 'vue';
import Chip from './components/Chip.vue';
import ChipBox from './components/ChipBox.vue';
import ShipComponentList from './components/ShipComponentList.vue';
import ComponentGroupList from './components/ComponentGroupList.vue';

const componentBox = ref();
const ship_name_input = ref();
const name = ref("[new ship]");

const samples = {
  empty: {
    name: "",
    armour: 0,
    components: [],
  },
  newsflash: {
    name: "Newsflash-Class Courier",
    armour: 0,
    components: [
      { group: "drives", type: "fusion_torch", volume: 2, armour: false },
      { group: "powerplants", type: "electrostatic_fusion", volume: 4, armour: false },
      { group: "jump_engines", type: "long_range", volume: 19, armour: true },
      { group: "tanks", type: "d3he", volume: 1, armour: false },
      { group: "command", type: "civilian_bridge", volume: 0, armour: false }
    ]
  },
  pegasus: {
    name: "Pegasus-class Light Cruiser",
    armour: 10,
    components: [
      { group: "drives", type: "fissile_saltwater", volume: 10, armour: true },
      // tanks
      { group: "powerplants", type: "fission_fragment", volume: 4, armour: true },
      { group: "powerplants", type: "fission_fragment", volume: 4, armour: true },
      { group: "powerplants", type: "fission_fragment", volume: 2, armour: true },
      // inert tanks

    ]
  }
}


function loadSample() {
  let samples_element = document.getElementById("samples")
  if (samples_element.value == "_") {
    // "Load Sample..." selected, do nothing
    return;
  }
  let sample_data = samples[samples_element.value]
  console.log("loading sample", samples_element.value, sample_data)
  samples_element.value = "_" // reset back to "Load Sample..."

  name.value = sample_data.name;
  componentBox.value.loadShip(sample_data)
}
</script>

<template>
  <header>
    <h1 style="font-family:'Roboto Slab', Roboto, sans-serif;">JUNCTSPACE SHIP DESIGNER</h1>
  </header>

  <main>
    <section style="display:flex;">
      <h2>{{ name }}</h2>
      <div class="uk-inline">
        <button type="button" uk-icon="pencil"></button>
        <div uk-dropdown="mode: click">
          <input class="uk-form-width-large" placeholder="[ship name]" ref="ship_name_input">
          <button class="uk-button" @click="name = ship_name_input.value">Confirm</button>
          #TODO: edit ship icon
        </div>
      </div>
    </section>

    <section class="uk-margin uk-flex">
      <button class="uk-button uk-button-default">import</button>
      <button class="uk-button uk-button-default">export</button>
      <select class="uk-select" id="samples" @change="loadSample" style="width:max-content">
        <option value="_">Load sample...</option>
        <option value="empty">(empty)</option>
        <option value="newsflash">Newsflash Courier</option>
        <option value="pegasus">Pegasus Cruiser</option>
      </select>
    </section>
    <section id="overview-sticky-box">
      <ChipBox class="big" id="ship-overview">
        <Chip :value="componentBox?.sum_volume || '--'">Volume</Chip>
        <Chip value="--">Mass</Chip>
        <Chip :value="componentBox?.sum_cost || '--'">Cost</Chip>
        <Chip :value="componentBox?.sum_crew || '--'">Crew</Chip>
        <Chip :value="componentBox?.acceleration || '--'">Acceleration</Chip>
        <Chip :value="componentBox?.dv || '--'">&Delta;V</Chip>
      </ChipBox>
      <ChipBox>
        <Chip value="?">Biological</Chip>
        <Chip value="?">Mechanical</Chip>
        <Chip value="?">Infomorph</Chip>
        <Chip :value="componentBox?.component_volume">Component Volume</Chip>
        <Chip :value="componentBox?.sum_mass || '--'">Component Mass</Chip>
        <Chip value="?">Armour Mass</Chip>
        <Chip value="?">Fuel Mass</Chip>
      </ChipBox>
    </section>

    <section>
      <h2> Components </h2>
      <ShipComponentList ref="componentBox" />
    </section>

    <aside style="grid-row: 2 span 3">
      <ComponentGroupList />
    </aside>
  </main>

</template>
